h1{
  color: #000000
}
body{
  background-color: rgb(138, 101, 0);
}
p{
  font-size: 20px
}
b{
  color: indigo; 
}
.hello{
  margin-left: 5%;
}

.tab{
  margin-left: 25px
}

.tab2{
  margin-left: 45px
  
}
.tab3{
  font-size: 15px;
}
a:focus {
	color: orange;
	background-color: lightblue;
}

a{
	color: darkblue; 
}
hr{
  color: rgb(255, 115, 0);
}
